$bg: #1c1b1b;
$red: #b80103;
$gold: #a48e72;
$grey: #c1bfbd;


$break-sm: 320px;
$break-md: 768px;
$break-lg: 1200px;


@mixin prefix ( $property, $value ) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}
@mixin accelerate {
  // Enable 3D transforms, activating hardware acceleration
  @include prefix(transform,translateZ(0));
  // Fixing flickering bug
  @include prefix(backface-visibility,hidden);
  // Some bug fix, I forget why this is in here.
  @include prefix(perspective,1000);
}

@mixin text-header{
  color:$gold;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:bold;
  font-size:28px;
  font-family:"Helvetica Neue",Helvetica,Arial;
}
@mixin text-paragraph{
  margin-bottom:10px;
  color:$grey;
  font-size:16px;
  font-family:Georgia,"Times New Roman",serif;
  line-height: 28px;

    @media screen and (max-width: $break-md) {
      font-size: 18px;
    }
    @media screen and (max-width: $break-sm) {
    }
    @media screen and (min-width: $break-lg) {
    }
}

#wrapper {
  @include accelerate();
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}

#scroller {
  position: absolute;
}

img{
  max-width:100%;
}

.bar {
  width:100px;
  height:5px;
  background:$red;
  margin:100px auto 50px auto;
  position:relative;
}

.logo {
  display:inline-block;
  background:url(../img/logo.png) no-repeat;
  width:194px;
  height:49px;
}



/************************************************************************************
Styles
*************************************************************************************/
body {
  background:$red;
}
.content{
}

.header {
  height:25px;
  &::before {
    @include prefix(transform-origin,0% 0%);
    @include prefix(transform,scale(.5));
    content:"";
    display:inline-block;
    background:white url(../img/logo.png) no-repeat;
    width:194px;
    height:49px;
  }
}
.hero {
  background:$bg;
  padding:0 0 100px 0;
  img {z-index:-1;}
  h2 {
    display:block;
    @include text-header;
    margin: -120px 10px 0 40px;
  }
  .bar {
    margin:30px 10px 30px 40px;
  }
  .text {
    margin: 0 0 0 40px;
    @include prefix(column-count,3);
    @include prefix(column-gap,20px);
    @media screen and (max-width: $break-md) {
      @include prefix(column-count,1);
    }
    @media screen and (max-width: $break-sm) {
    }
    @media screen and (min-width: $break-lg) {
    }
  }
  p {
    @include text-paragraph;
    margin:10px 0 30px 0;
  }
  .hidden{
    display:none;
  }
}

.articles {
  overflow:hidden;
  width:100%;
  background:white;
  margin-bottom:20px;
  ul {
    display:block;
    margin:0;
    padding:0;
    li {
      @include text-header;
      float:left;
      margin:0;
      padding:10px;
      width:200px;
      height:350px;
      border-left:1px solid $gold;
      border-top:1px solid $gold;
      list-style:none;
    }
  }
}

.takeover{
  position:relative;
  width:100%;
  background:$bg;
  color:$grey;
  .flyout{
    position:absolute;
    margin-top:0;
    width:100%;
    background:$bg;
    color:$grey;
    > div {
      margin: 120px 50px;
      text-align:center;
      text-transform:uppercase;
      letter-spacing:2px;


      @media screen and (max-width: $break-md) {}
      @media screen and (max-width: $break-sm) {}
      @media screen and (min-width: $break-lg) {}
    }
  }
}
#scaffold {
  height:1000px;
}