/*** TYPOGRAPHY ***/
@font-face {  
	font-family: "MuseoSlab";  
	src: url(fonts/Museo_Slab_500.otf) format("opentype");  
    font-weight: 500;
	font-style: normal;
}
@font-face {  
	font-family: "MuseoSlab";  
	src: url(fonts/Museo_Slab_500italic.otf) format("opentype");  
    font-weight: 500;
	font-style: italic;
}

@font-face {  
	font-family: "MuseoSlab";  
	src: url(fonts/Museo_Slab_700.otf) format("opentype");  
    font-weight: 700;
	font-style: normal;
}
@font-face {  
	font-family: "MuseoSlab";  
	src: url(fonts/Museo_Slab_700italic.otf) format("opentype");  
    font-weight: 700;
	font-style: italic;
}

@font-face {  
	font-family: "MuseoSlab";  
	src: url(fonts/Museo_Slab_900.otf) format("opentype");  
    font-weight: 900;
	font-style: normal;
}
@font-face {  
	font-family: "MuseoSlab";  
	src: url(fonts/Museo_Slab_900italic.otf) format("opentype");  
    font-weight: 900;
	font-style: italic;
}

@font-face {  
	font-family: "CallunaSans";  
	src: url(fonts/CallunaSansRegular.otf) format("opentype");  
    font-weight: normal;
	font-style: normal;
}

h1 {font-family:"MuseoSlab";font-weight:900;text-transform:uppercase;color:#656565;}
h2 {font-family:"MuseoSlab";font-weight:700;text-transform:uppercase;color:#2a2a2a;font-size:18px;}
h4 {font-family:"MuseoSlab";font-weight:500;font-size:18px;}

/*** GENERAL ***/
body{
	font-family: "CallunaSans";
	background-color:#dadada;
	color:#808080;
	font-size:13px;
}

#pre {padding:15px 0;}
	#pre .first {}
	#pre .last {text-align:right;}

header {background:#f2f2f2;position:relative;}
header > div.container {position:relative;}
	header h1 {position:absolute; display:block; width:260px; height:215px; left:335px; top:-20px; text-indent:-9999em; background:url(../img/logobanner.png);}
	header ul {list-style:none; margin:0; padding:0; font-family:"MuseoSlab"; font-weight:700; text-transform:uppercase; letter-spacing:.01em;}
		header ul li {list-style:none; display:inline-block;}
		header ul li a{color:#2a2a2a;}
		header ul li a{color:#2a2a2a; text-decoration:none;}
		header ul.first {}
			header ul.first li {padding:30px 50px 30px 0;}
		header ul.last {text-align:right;}
			header ul.last li {padding:30px 0 30px 45px;}

#feature {background:#808080;color:#ffffff; min-height:300px; height:auto !important; height:300px;}

a.cta {display:inline-block; padding:15px 60px; color:white; text-decoration:none; font-family:"MuseoSlab"; font-weight:500; text-shadow: 0 2px 1px #748ea2;

	background: #8199b7; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d95b2', endColorstr='#96b8d2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#7d95b2), to(#96b8d2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #7d95b2,  #96b8d2); /* for firefox 3.6+ */ 
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	-moz-box-shadow:inset 0px 3px 1px #96a8bf;
	-webkit-box-shadow:inset 0px 3px 1px #96a8bf;
	box-shadow:inset 0px 3px 1px #96a8bf;
	
	border:4px solid #FFFFFF;
}
a.cta:hover {
	background: #8199b7; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#849dbb', endColorstr='#a5c5dd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#849dbb), to(#a5c5dd)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #849dbb,  #a5c5dd); /* for firefox 3.6+ */ 
	
	-moz-box-shadow:inset 0px -3px 1px #748ea2;
	-webkit-box-shadow:inset 0px -3px 1px #748ea2;
	box-shadow:inset 0px -3px 1px #748ea2;
}
a.cta:active{text-shadow: 0 -2px 1px #748ea2;

	background: #8199b7; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d95b2', endColorstr='#96b8d2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#7d95b2), to(#96b8d2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #7d95b2,  #96b8d2); /* for firefox 3.6+ */ 
	
	-moz-box-shadow:inset 0px 3px 1px #748ea2;
	-webkit-box-shadow:inset 0px 3px 1px #748ea2;
	box-shadow:inset 0px 3px 1px #748ea2;
}
.subsection {display:none; font-size:18px; color:#202020; margin-bottom:20px;}
	.subsection h4 {font-size:24px; font-weight:700; margin-bottom:4px;}
	.subsection div.subsection-image {position:relative;float:right; width:280px; height:235px; margin:0 0 25px 25px;}
	.subsection div.subsection-image img {}
	.subsection div.subsection-image .frame {background:url(../img/frame.png) no-repeat;width:330px; height:285px;position:absolute;top:-25px;right:-25px;}


#about {background:#e5e5e5; padding:20px 0;}
	#about h2 {margin-top:20px; width:140px;}
	#about ul {list-style:none; margin-bottom:20px;}
		#about ul li {float:left; color:#5f5f5f; margin-right:10px;}
			#about ul li a {display:block; width:200px; padding:20px; margin-bottom:20px; text-decoration:none; color:#2a2a2a; min-height:80px; height:auto !important; height:80px;}
			#about ul li a:hover {background:#d2d2d2; text-decoration:none; color:#2a2a2a; }
			#about ul li.active a {background:#ffffff; border-bottom: solid 10px #e9b862;}
	#about div.active {display:block; width:940px; clear:both;}

#faculty {background:#dadada; padding:20px 0;}
	#faculty h2 {margin-top:20px; width:140px;}
	#faculty .subsection {display:block; width:780px; margin:20px 0;}
	#faculty ul {display:block; list-style:none; clear:both; margin:20px 0 20px 150px;}
		#faculty ul li {float:left; display:block; width:140px; margin:0 20px 20px 0; font-family:"MuseoSlab"; font-weight:700; position:relative;}
			#faculty ul li a {text-decoration:none; color:#202020;}
			#faculty ul li a span{display:block; position:relative; z-index:2; margin:0 5px 5px; line-height:18px; height:20px; overflow:hidden;}
			#faculty ul li img.profile {width:130px; height:130px; border:5px solid #ffffff; 
				-moz-box-shadow: 0px 0px 10px #c5c5c5;
				-webkit-box-shadow: 0px 0px 10px #c5c5c5;
				box-shadow: 0px 0px 10px #c5c5c5;}
			#faculty ul li img.profile-active {display:none; z-index:1; width:130px; height:130px; position:absolute; top:0; left:0; border:5px solid #ffffff; 
				-moz-box-shadow: 0px 0px 10px #c5c5c5;
				-webkit-box-shadow: 0px 0px 10px #c5c5c5;
				box-shadow: 0px 0px 10px #c5c5c5;}

#facilities {background:#e5e5e5; padding:20px 0;}
	#facilities h2 {margin-top:20px; width:140px;}

#lessons {background:#dadada; padding:20px 0;}
	#lessons h2 {margin-top:20px; width:140px;}

#contact {background:#e5e5e5; padding:20px 0;}
	#contact h2 {margin-top:20px; width:140px;}

#enroll {background:#dadada; padding:20px 0;}
	#enroll h2 {margin-top:20px; width:140px;}