body {
  background:#f3f2e9;
}

.question-spacer{
  min-height:500px;
  position:relative;
  margin-top:40px;
}

.question {

}

.question-title {
  text-align:center;
  h1{}
  p{font-style:italic;}
}

div.row.question-body {
  background:#ffffff;
  padding:40px;
  text-align:center;
  margin-top:10px;
  margin-bottom:20px;

  .question-option {
    position:relative;
    // padding-top:15px;
    margin-bottom:20px;

    .image-container
    {
        display: inline-block;
        position: relative;
        border:3px solid #ffffff;
        box-shadow:0 3px 0.6em rgba(0,0,0, 0.15)
    }
    .image-caption{
      color:#ffffff;
      background:rgba(0,0,0, 0.5);
      padding:10px;
      text-shadow: black 0 0 0.4em rgba(0,0,0, 0.5);
        position: absolute;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-style: normal;
        text-rendering: optimizeLegibility;
        margin-top: 0.2em;
        margin-bottom: 0.5em;
        line-height: 1.2125em; 
        font-size: 1.375em;
    }
    img {
      opacity:.9;
    }
    
    &:hover {
      img {opacity:1;}
    }
    &.active{
      .image-container{
        background-color:#80b91d;
      }
      img {opacity:.1;}
    }

  }
}

.question-submit {
  margin-top:20px;
  text-align:center;
}

.question-1,.question-2{
  input{
    margin-top:15px;
  }
}

.question-3,.question-4,.question-5,.question-6{
  input{
    margin-top:5px;
  }
}

.question-7{
div.row.question-body {
  .question-option {
      opacity:.8;
    label {
      padding:15px;
      min-height:120px;
    }
    &:hover {
      background:lighten(#f3f2e9,3%);
      opacity:1;
    }
    &.active{
      opacity:1;
        background-color:#80b91d;
        label h3 {color:#ffffff;}
    }
  }
}
}

.question-8{
div.row.question-body {
  .question-option {
      opacity:.8;
    label {
      padding:15px;
      min-height:180px;
    }
    &:hover {
      background:lighten(#f3f2e9,3%);
      opacity:1;
    }
    &.active{
      opacity:1;
        background-color:#80b91d;
        label h3 {color:#ffffff;}
    }
  }
}
}
div.row.timeline {
  padding:20px 0 0;
    position:relative;
    margin:0 auto;
    .timeline-date {
      margin-bottom:20px;
      text-align:left;
    }
    .timeline-background {

      .large-1 {
        background:#f3f2e9;
        border:1px solid #ffffff;
        padding:10px;
        text-align:center;
        cursor:pointer;
        &.active {
          // background:#80b91d;
        }
        &:hover{
          background:darken(#f3f2e9,3%)
        }
      }

    }
    .timeline-active > .columns {
      left:-9999px;
      border:3px solid #80b91d;
      position: relative;
      top: -38px;
      margin-bottom:-38px;
      height:40px;
    }
}