@font-face {
  font-family: "swift";
  src: url("img/SwiftNeueLTPro-Regular.otf"); }

@font-face {
  font-family: "knockout";
  src: url("img/Knockout-HTF26-JuniorFlyweight.ttf");
  font-weight: 100; }

@font-face {
  font-family: "knockout";
  src: url("img/Knockout-HTF30-JuniorWelterwt.otf");
  font-weight: 300; }

html, body, * {
  padding: 0;
  margin: 0; }

body {
  background: #000000; }

.intro {
  background: #000000;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center; }
  .intro video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5; }
  .intro .intro-countdown {
    position: relative;
    width: 50%;
    height: 100%;
    max-width: 396px;
    background: url(img/intro2.png) no-repeat center;
    background-size: 100%; }

.transition {
  pointer-events: none;
  -webkit-transition: max-height .5s;
  -webkit-animation: transition-fly 2s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000;
  overflow: hidden;
  max-height: 120px;
  z-index: 3; }
  .transition.scroll {
    max-height: 60px; }
  .transition .transition-1 {
    -webkit-animation: transition-red .6s;
    position: fixed;
    background: #9e1c20;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 4px; }

@-webkit-keyframes transition-fly {
  0% {
    max-height: 1800px;
    top: 100%; }

  20% {
    max-height: 1800px;
    top: 0; }

  70% {
    max-height: 1800px;
    top: 0; }

  100% {
    max-height: 120px; } }

@-webkit-keyframes transition-red {
  0% {
    max-height: 1800px; }

  50% {
    max-height: 1800px; }

  100% {
    max-height: 4px; } }

.nav {
  -webkit-transition: height .5s;
  -webkit-animation: nav-fly 2s;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background: transparent;
  z-index: 4; }
  .nav.scroll {
    height: 60px; }
    .nav.scroll .logo {
      width: 80px; }
  .nav .logo {
    -webkit-transition: width .5s;
    -webkit-animation: logo-fly 2s;
    position: relative;
    top: 0;
    width: 160px;
    margin: auto;
    height: 100%;
    background: url(img/logo-1.svg) no-repeat;
    background-size: 100%;
    background-position-y: 50%; }

@-webkit-keyframes nav-fly {
  0% {
    top: 100%;
    height: 100px; }

  20% {
    top: 100%;
    height: 100px; }

  40% {
    top: 100%; }

  60% {
    top: 40%;
    height: 100px; }

  70% {
    top: 40%;
    height: 100px; }

  100% {
    top: 0;
    height: 120px; } }

@-webkit-keyframes logo-fly {
  0% {
    width: 320px; }

  70% {
    width: 320px; }

  100% {
    width: 160px; } }

@-webkit-keyframes intro-remove {
  0% {
    opacity: 1; }

  50% {
    opacity: 1; }

  51% {
    opacity: 0; }

  100% {
    opacity: 0; } }

.intro-remove {
  -webkit-animation: intro-remove 2s;
  -webkit-transition: opacity .1s;
  opacity: 0; }

.content {
  position: relative;
  width: 100%;
  top: 120px;
  overflow: hidden;
  background: #ffffff; }
  .content img.bg {
    max-width: 150%;
    left: -25%;
    position: absolute;
    z-index: 1;
    pointer-events: none; }
  .content .content-article {
    z-index: 1;
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .content .content-article .content-article-img {
      cursor: pointer;
      width: 50%;
      position: absolute;
      top: 0;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 25%; }
      .content .content-article .content-article-img.left {
        left: 0; }
      .content .content-article .content-article-img.right {
        right: 0; }
      .content .content-article .content-article-img.video {
        width: 100%; }
    .content .content-article.one {
      height: 14.8%;
      top: 0.65%; }
      @media screen and (min-width: 1600px) {
        .content .content-article.one {
          height: 700px;
          top: 30px; } }
    .content .content-article.two {
      height: 11.5%;
      margin-top: 4%;
      z-index: 0; }
      @media screen and (min-width: 1600px) {
        .content .content-article.two {
          height: 540px;
          margin-top: 60px; } }
    .content .content-article.three {
      height: 15.45%;
      margin-top: 96.2%; }
      @media screen and (min-width: 1600px) {
        .content .content-article.three {
          height: 730px;
          margin-top: 1538px; } }
